if categories.length > 0
    p These are the categories we have found for you:
    ul
        each cat in categories
            li(class = 'category ' + cat.code)= cat.description
else
    p
        | Hmm, we couldn't find relevant categories in your profile. We'll pick
        | 3 random ones.

p: a(href='/foursquare').button Continue
