extend layout
block content
    div
        p Hey there #{user.name}. 
        p
            | We are checking what categories of products you like the best.
            | It's magic.

        div#cats
            div#catimg
                img(src='http://24.media.tumblr.com/tumblr_m2mvo2OhZ91roe0yho1_250.gif')

block script
    script(src='/js/shopguide.js')
