extend layout
block content
    div
        p
            | Now, we would like to know the places that you visit the most.
        p
            | Since this can be a long task, it would be great if you let us access to your checkins in Foursquare.
            | As before, you can skip this step and we will use three random places to show you some nice information.
 
        a(href=fqlink).button Get info from Foursquare
        a(href='map').skip-button Skip
