extend layout
block content
    div
        p
            | Hello there. First, we would like to get some info about you, like your 
            strong age 
            | and the things you like in order to detect the 
            strong categories 
            | you would like to review.
        p
            | For this reason, we would appreciate if you let us get this information from Facebook.
            | If you don't want to do this, you can skip this step and we will use random data.
        p: a(href='/facebook').button Get info from Facebook
        p: a(href='/foursquare').skip-button Skip
    
