!!!5
html
    head
        title #{title} - ShopGuide
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            a(href='/')
                h1 ShopGuide
        .container
            .main-content
                block content
        footer
            p
                | Shopguide - made in order to participate in 
                a(href='https://www.centrodeinnovacionbbva.com/innovachallenge') BBVA Innova Challenge
            p
                | Site made with Node.js, Jade and Stylus. Icons given by 
                a(href='http://glyphicons.com') Glyphicons.com
            script(src='http://code.jquery.com/jquery.js')
            block script
