!!!5
html
    head
        title #{title} - ShopGuide
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1 ShopGuide
        .container
            .main-content
                block content
        footer
            p Shopguide - made thanks to Node.js, Express, Jade and Stylus

