/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4d5bfa
ok-color = #5daa6b
skip-color = #ea4d5b
background-color = #faf9f0

body
  font-family 'Georgia'
  background-color background-color
  color #444

header
  font-family 'Quicksand'
  padding 10px 10px
  color #fff
  font-size 25px

  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

  a
    color #fff
    text-decoration none

.container
  width 800px
  margin 50px auto
  height 450px
  overflow hidden

.main-content
  float left
  width 800px

  p
    margin-bottom 20px
  
  strong
    font-weight bold

  div#cats ul
    margin 0 auto
    right auto
    width 200px

    li.category
      height 40px
      margin 5px
      padding-left 40px
      background url(/images/es_otherservices.png) left center no-repeat
      line-height 40px
    
    li.es_auto
      background-image url(/images/es_auto.png)

    li.es_fashion
      background-image url(/images/es_otherservices.png)

    li.es_home
      background-image url(/images/es_otherservices.png)

    li.es_leisure
      background-image url(/images/es_leisure.png)

    li.es_sportsandtoys
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_travel
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_barsandrestaurants
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_food
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_hotelservices
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_otherservices
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_tech
      background-image url(/images/es_tech.png)

    li.es_wellnessandbeauty
      background-image url(/images/es_wellnessandbeauty.png) 3px 3px no-repeat

    li.es_contents
      background-image url(/images/es_contents.png) 3px 3px no-repeat

    li.es_health
      background-image url(/images/es_otherservices.png) 3px 3px no-repeat

    li.es_hyper
      background-image url(/images/es_hyper.png) 3px 3px no-repeat

    li.es_propertyservices
      background-image url(/images/es_propertyservices.png) 3px 3px no-repeat

    li.es_transportation
      background-image url(/images/es_transportation.png) 3px 3px no-repeat
 
  div#catimg
    text-align center

  a.button
    font-family 'Quicksand'
    font-weight bold
    text-decoration none
    color main-color
    padding 5px 10px
    margin 10px
    border 1px solid
    border-color ok-color
    float left
    &:hover 
        color background-color
        background-color ok-color

  a.skip-button
    @extends .main-content a.button
    border-color skip-color
    float right
    &:hover
        background-color skip-color

  div.location
    width 800px

  div.map
    float right

  div.cycle-prev
    position absolute
    top 0
    margin 50px 0
    left 0
    width 10%
    z-index 800
    height 80%
    cursor pointer
    background url(/images/left.png) 50% 50% no-repeat

  div.cycle-next
    @extends .main-content div.cycle-prev
    left auto
    right 0
    background url(/images/right.png) 50% 50% no-repeat

p
  line-height 1.8

footer
  width 500px
  margin 10px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
